.form-control {
  display: block;
  width: 45%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-label{
  text-align: center;
  display: block;
}

.form-control{
  text-align: center;
}
.btn-primary{
 margin-top: 1vh; 
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 8vw; 
}